@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 95vw;
    max-height: 95vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* NEWS */
.news-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 2%;
    width: 70%;
    height: 80vh;
    border-radius: 31px;
}

.article-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 33.33%;
    margin: .5%;
    padding: 20px;
    overflow: hidden;
}

.news-href {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.img-container {
    width: 50%;
    margin-right: 10px;
}

.img-container img.news-img {
    width: 100%;
    border-radius: 10px;
}

.title-container {
    width: 50%;
}

h2.news-title {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.curr-table-container {
    height: 80vh;
    width: 30%;
    overflow: auto;
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, .15);
}

#th{
    background-color: #1DA1F2;
    border: none;
}