/* SCROLLBAR */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

div form#1 {
	background-color: dimgrey;
	border: black;
	font-size: medium;
	font: 40px Arial;
}




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Ubuntu-Bold;
	src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

p {
	font-family: Ubuntu-Bold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

input::-webkit-input-placeholder {
	color: #bdbdd3;
}

input:-moz-placeholder {
	color: #bdbdd3;
}

input::-moz-placeholder {
	color: #bdbdd3;
}

input:-ms-input-placeholder {
	color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
	color: #bdbdd3;
}

textarea:-moz-placeholder {
	color: #bdbdd3;
}

textarea::-moz-placeholder {
	color: #bdbdd3;
}

textarea:-ms-input-placeholder {
	color: #bdbdd3;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}