{% extends 'base.html' %}
{%block title%}
<h1>Mój profil</h1>
{%endblock%}
{% block content %}
{%load crispy_forms_tags%}
<head>
	<title>Contact V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link rel="stylesheet" href="{% static "../static/css/edit-profile.css" %}">
</head>

<div class="edit-profile-container">
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="buttons-container">
			<button type="submit" class="btn btn-success btn-block btn-lg">Zaktualizuj</button>
			<a class="btn btn-primary btn-block btn-lg" href="/profile/edit">Powrót</a>
        </div>
		
	</form>
</div>



{% endblock %}

