{% extends 'base.html' %}

{% block content %}

<head>
    <title>Charts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/charts.css">
</head>

<body>
    <div class="container-chart">
        <div class="wrap-chart">
            <div class="chart">
                <div id="chartdiv"></div>
            </div>
            <div class="choice-field">
                <select class="currency-selector" name="currency-selector">
                </select>
                <div class="currency-value animate"></div>
            </div>
        </div>
    </div>


    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="../static/charts.js"></script>
</body>

</html>

{% endblock %}

KOCHAM CIĘ