{% extends 'base.html' %}
{%block title%}
<h1>Mój profil</h1>
{%endblock%}
{% block content %}
<head>
	<title>Contact V10</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<div class="wrap-profile-info">
    <div class="profile-info-container">
        <h1 class="profile-header">Profil użytkownika - {{user}}</h1>
        <p class="info-field" >Nazwa użytkownika:</p>
            <p class="user-info">
                {{ user }}
            </p>
        
        <p class="info-field">Imię:</p>
            <p class="user-info">
                {{ user.first_name }}
            </p>
        <p class="info-field">Nazwisko:</p>
            <p class="user-info">
                {{ user.last_name }}
            </p>
        
        <p class="info-field">E-mail:</p>
            <p class="user-info email-field">
                {{ user.email }}
            </p>
        <a class="btn btn-primary btn-block bt-lg" href="/profile/edit/">Edytuj Profil</a>
    </div>
</div>


{% endblock %}

